.pokemon-header {
    font-family: 'Pokemon Solid', sans-serif;
    background-color: rgb(15, 83, 185);
    text-align: center;
    margin: auto;
    width: 50%;
    border: 5px solid rgb(77, 54, 5);
}

.team-builder{
    float: left;
    padding-left: 100px;
    width: 50%;
}

body {
    background-image: url("https://wallpaperaccess.com/full/45635.jpg");
}

#add-pokemon{
  margin: 0;
  top: 50%;
}

#name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

#type1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

#type2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

#ability{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
.header-1{
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(63, 9, 9);
    font-size: 40px;
}

#pokemon-move-list{
    display: flex;
}

#p-move1{
    padding-right: 20px;
}

#p-move2{
    padding-right: 20px;
}

#p-move3{
    padding-right: 20px;
}

#p-move4{
    padding-right: 20px;
}

.header-2{
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 40px;
    color:rgb(50, 146, 190)
}


.Team-1-Display{
    display: flex;
    gap: 10px;
    flex-direction: row;
}


.Team-2-Display{
    display: flex;
    gap: 10px;
    flex-direction: row;
}